<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,132},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>attackScope.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1032},{239,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,39}}</string>
                <key>sourceSize</key>
                <string>{239,39}</string>
            </dict>
            <key>auto_merge_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,357},{30,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,10}}</string>
                <key>sourceSize</key>
                <string>{30,10}</string>
            </dict>
            <key>auto_merge_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,357},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>blood_rect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,276},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>blood_rect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,264},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>btn_auto_merge.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,288},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>func_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1889},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>func_qianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1233},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>func_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1889},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1825},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>icon_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1887},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_shop_reclaim.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1347},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>map_zhongdian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,997},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>map_zhongdian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,561},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>map_zhongdian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,903},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>rank_item_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1337},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>redDot.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1329},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>skill_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1763},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>skill_fullAtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1107},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>skill_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1331},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>skill_slow.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1043},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>skill_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,979},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>skill_txtRect.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,273},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,28}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>smallBtn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1283},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>touxiang_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1058},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>ui_bossWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{592,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{592,290}}</string>
                <key>sourceSize</key>
                <string>{592,292}</string>
            </dict>
            <key>ui_boss_p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{680,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,166}}</string>
                <key>sourceSize</key>
                <string>{680,166}</string>
            </dict>
            <key>ui_boss_p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{338,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,128}}</string>
                <key>sourceSize</key>
                <string>{338,128}</string>
            </dict>
            <key>ui_boss_p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,132},{429,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,309}}</string>
                <key>sourceSize</key>
                <string>{429,309}</string>
            </dict>
            <key>ui_boss_p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{605,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,194}}</string>
                <key>sourceSize</key>
                <string>{605,194}</string>
            </dict>
            <key>ui_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{640,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,140}}</string>
                <key>sourceSize</key>
                <string>{640,140}</string>
            </dict>
            <key>ui_build.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1763},{180,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,166}}</string>
                <key>sourceSize</key>
                <string>{180,166}</string>
            </dict>
            <key>ui_build_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1251},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ui_build_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1143},{110,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,133}}</string>
                <key>sourceSize</key>
                <string>{110,133}</string>
            </dict>
            <key>ui_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1937},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ui_coin_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1889},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>ui_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1763},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>ui_diamond_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1827},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>ui_enemy_slow.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1143},{88,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,44}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>ui_func_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,491},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>ui_g_buildUpProb.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1255},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>ui_g_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1937},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>ui_g_crit.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1938},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>ui_g_libraryCount.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1945},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>ui_g_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1945},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>ui_g_towerPower.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,966},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>ui_icon_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1763},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ui_icon_set1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1827},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ui_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1282},{479,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,110}}</string>
                <key>sourceSize</key>
                <string>{479,110}</string>
            </dict>
            <key>ui_map_img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1937},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>ui_map_location.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,789},{82,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,100}}</string>
                <key>sourceSize</key>
                <string>{82,100}</string>
            </dict>
            <key>ui_mergeRemind.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1166},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>ui_reclaim_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,633},{268,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,64}}</string>
                <key>sourceSize</key>
                <string>{268,64}</string>
            </dict>
            <key>ui_res_add_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,239},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ui_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{640,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,177}}</string>
                <key>sourceSize</key>
                <string>{640,177}</string>
            </dict>
            <key>ui_towerLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,206},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>ui_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{520,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,162}}</string>
                <key>sourceSize</key>
                <string>{520,162}</string>
            </dict>
            <key>ui_win_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1249},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ui_win_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1167},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ui_win_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1085},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>ui_win_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,686},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>ui_win_inRect.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,228},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ui_win_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,873},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>ui_win_numbg_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,170},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>ui_win_progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,194},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>ui_win_progress2.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,250},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>ui_win_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1171},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,81}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>ui_win_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,563},{339,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{339,121}}</string>
                <key>sourceSize</key>
                <string>{341,123}</string>
            </dict>
            <key>ui_win_txt_chengjiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,859},{240,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{240,171}}</string>
                <key>sourceSize</key>
                <string>{240,173}</string>
            </dict>
            <key>ui_win_txt_chengjiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1230},{217,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{217,155}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>ui_win_txt_qianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1763},{172,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,74}}</string>
                <key>sourceSize</key>
                <string>{172,74}</string>
            </dict>
            <key>ui_win_txt_renwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,686},{240,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{240,171}}</string>
                <key>sourceSize</key>
                <string>{240,173}</string>
            </dict>
            <key>ui_win_txt_renwu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1073},{217,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{217,155}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>ui_win_txt_shangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1763},{173,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,75}}</string>
                <key>sourceSize</key>
                <string>{173,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUI.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ee10e2f12b62edda796bb41830f09d1$</string>
            <key>textureFileName</key>
            <string>gameUI.png</string>
        </dict>
    </dict>
</plist>
