<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_enemy_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,171},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>ani_enemy_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{85,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,72}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>ani_enemy_die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,89},{85,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,58}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>ani_enemy_die_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{85,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,57}}</string>
                <key>sourceSize</key>
                <string>{85,57}</string>
            </dict>
            <key>ani_enemy_die_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{83,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,57}}</string>
                <key>sourceSize</key>
                <string>{83,57}</string>
            </dict>
            <key>ani_enemy_die_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,89},{83,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,57}}</string>
                <key>sourceSize</key>
                <string>{83,57}</string>
            </dict>
            <key>ani_enemy_die_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,176},{83,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,57}}</string>
                <key>sourceSize</key>
                <string>{83,57}</string>
            </dict>
            <key>ani_enemy_die_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,247},{83,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,57}}</string>
                <key>sourceSize</key>
                <string>{83,57}</string>
            </dict>
            <key>ani_enemy_die_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,87},{82,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,56}}</string>
                <key>sourceSize</key>
                <string>{82,56}</string>
            </dict>
            <key>ani_enemy_die_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{81,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,56}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>ani_enemy_die_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{81,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,56}}</string>
                <key>sourceSize</key>
                <string>{81,56}</string>
            </dict>
            <key>ani_enemy_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,176},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>ani_enemy_die_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,60},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
            <key>ani_enemy_die_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,116},{79,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,54}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>ani_enemy_die_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,163},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>ani_enemy_die_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{77,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,53}}</string>
                <key>sourceSize</key>
                <string>{77,53}</string>
            </dict>
            <key>ani_enemy_die_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,57},{77,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,51}}</string>
                <key>sourceSize</key>
                <string>{77,51}</string>
            </dict>
            <key>ani_enemy_die_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,110},{75,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,51}</string>
            </dict>
            <key>ani_enemy_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,126},{61,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,111}}</string>
                <key>sourceSize</key>
                <string>{61,111}</string>
            </dict>
            <key>ani_enemy_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,247},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>ani_enemy_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{75,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,116}}</string>
                <key>sourceSize</key>
                <string>{75,116}</string>
            </dict>
            <key>ani_enemy_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{81,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,117}}</string>
                <key>sourceSize</key>
                <string>{81,117}</string>
            </dict>
            <key>ani_enemy_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{89,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,119}}</string>
                <key>sourceSize</key>
                <string>{89,119}</string>
            </dict>
            <key>ani_enemy_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>ani_enemy_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,366},{98,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deadEffect.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cca1015b24ba807df981252caa129fd3$</string>
            <key>textureFileName</key>
            <string>deadEffect.png</string>
        </dict>
    </dict>
</plist>
